<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
    <h1 id="heading">Pending Todos</h1>
    <div class="todos">
        <%todos.map(todo=>{ %>
            <div class="todoBlock">
                <div class="todo">
                    <h1>
                        <%= todo.title %>
                    </h1>
                    <p>
                        <%= todo.description %>
                    </p>
                </div>
                <div class="operations">
                    <button class="done" data-doc="<%= todo._id  %>">done</button>
                    <button class="delete" data-doc="<%= todo._id  %>">delete</button>
                    <button class="update" data-doc="<%= todo._id  %>">update</button>
                </div>
            </div>
            <% }) %>
    </div>

    <script>
        // delete todo
       async function deleteTodo(endpoint){
             try{
                let result = await fetch(endpoint, {
                    method: "DELETE"
                });
                let response = await result.json();
                window.location.href = response.redirect;
             }
             catch(err){
                console.log(err)
             }
           
        }

        //pending delete
        document.querySelectorAll(".delete").forEach(button => {
            button.addEventListener("click", async (event) => {
                const endpoint = `/todos/pending/${button.dataset.doc}`;
                deleteTodo(endpoint)
                
            })
        });
        
        //completed done
        document.querySelectorAll(".done").forEach(button=>{
            button.addEventListener("click",async (event)=>{
                try{
                    const url = `/todos/completed/${button.dataset.doc}`;
                    let result = await fetch(url,
                    {method : "POST"})
                    let response = await result.json();
                    deleteTodo(response.redirect);
                }
                catch(err){
                    console.log(err);
                }
            })
        });

        // Update pending lists
        document.querySelectorAll(".update").forEach(button=>{
            button.addEventListener("click",async (event)=>{
                const url = `/todos/update/${button.dataset.doc}`;
                window.location.href = url;
            })
        })

    </script>
</body>
</html>